/*  LAYOUT RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /LAYOUT RESET */

/* UTILITYES */
.flex{display: flex;}
/* /UTILITYES */

/* HEADER *************************************************/
header{
    height: 50px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 2px;
    /* flex_prop*/
    justify-content: end;
    column-gap: 2px;
}
header span{
    background-color: #4a4a4a;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0 3px;
}


/* /HEADER *************************************************/

/* MAIN */
main{}
/* /MAIN */

/* FOOTER */
footer{}
/* /FOOTER */

