/*  LAYOUT RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /LAYOUT RESET */

/* UTILITYES */
.flex{display: flex;}
.column{flex-direction: column;}
.wrap{flex-wrap: wrap;}
/* /UTILITYES */

/* HEADER *************************************************/
header{
    height: 8vh;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 2px;
    /* flex_prop*/
    justify-content: end;
    column-gap: 2px;
}
header span{
    background-color: #4a4a4a;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0 3px;
}


/* /HEADER *************************************************/

/* MAIN ****************************************************/
main{
    margin-top: 8vh;
    background-color: grey;
    height: 80vh;
    overflow-y: auto; /* Solo se main contiene più cose appare la scroll-bar */
}
.container_main{
    /*debug*/
    max-width: 1200px;
    margin: 0 auto;
    /*/debug*/
}

.card{
    background-color: brown;
    border: 1px solid black;
    width: calc(100% / 7 - 6px);
    height: 100px;
    padding: 3px;
    margin: 3px;
}

.card img{max-width: 100%;} /*Adattami le immagini dentro le card*/

/* /MAIN ****************************************************/

/* FOOTER */
footer{
    background-color: #222222;
    height: 12vh;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
/* /FOOTER */

