/*  LAYOUT RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /LAYOUT RESET */

/* UTILITYES */
/* /UTILITYES */

/* HEADER */
header{
    background-color: black;
    color: white;
}
/* /HEADER */

/* MAIN */
main{}
/* /MAIN */

/* FOOTER */
footer{}
/* /FOOTER */

